# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import time
import logging
import numpy as np
import pandas as pd

## Utils

In [2]:
def get_logger(level=logging.WARNING, force_level=False, name='logger'):
    
    logger_levels = [logging.CRITICAL, logging.ERROR, logging.WARNING,
                     logging.INFO, logging.DEBUG]
    
    if level not in logger_levels:
        raise ValueError('Invalid level name. Valid names {}'.format(logger_levels))
    
    formatter = 'UDACITY ARVATO PROJECT: %(asctime)s - %(levelname)s: %(message)s'
    date_format = '%d/%m/%Y %H:%M:%S'
    logging.basicConfig(format=formatter, datefmt=date_format, level=level)

    logger = logging.getLogger(name)
    if logger.getEffectiveLevel() == 0 or force_level:
        logger.setLevel(level)

    return logger


def set_log_level(verbose, debug):
    if verbose:
        get_logger(logging.INFO, force_level=True)
    if debug:
        get_logger(logging.DEBUG, force_level=True)

In [3]:
class Timer:
    
    def __init__(self, decimal_round=5):
        self.decimal_round = decimal_round

    def start(self):
        self.timer_start = time.perf_counter()
        self.timer_last = self.timer_start

    def lapse(self):
        last_lapse = self.timer_last
        self.timer_last = time.perf_counter()
        return round(self.timer_last - last_lapse, 5) 

    def total(self):
        return round(time.perf_counter() - self.timer_start, 5)

In [4]:
def print_df_full(data):
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.max_colwidth', None)
    
    display(data)
    
    pd.set_option('display.max_rows', 10)
    pd.set_option('display.max_columns', 10)
    pd.set_option('display.max_colwidth', 50)


def convert_to_numeric(string):
    try: 
        return float(string)
    except ValueError:
        return string

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [5]:
# load in the data
#azdias = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_AZDIAS_052018.csv', sep=';')
#customers = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_CUSTOMERS_052018.csv', sep=';')

azdias = pd.read_csv(r'./datasets/azdias.csv', index_col='Unnamed: 0')
customers = pd.read_csv(r'./datasets/customers.csv', index_col='Unnamed: 0')

C:\Users\magonzac\Anaconda3\envs\pruebas\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
logger = get_logger()
timer = Timer(decimal_round=5)

### 0.1. Check dataset integrity

#### Verify that the datasets are as shown in the above description

In [7]:
print('AZDIAS shape -', azdias.shape)
print('CUSTOMERS shape -', customers.shape)

AZDIAS shape - (891221, 366)
CUSTOMERS shape - (191652, 369)

In [8]:
demographic_columns = azdias.columns
extra_columns = [col for col in customers.columns if col not in demographic_columns]

print('Extra columns:', extra_columns)

Extra columns: ['PRODUCT_GROUP', 'CUSTOMER_GROUP', 'ONLINE_PURCHASE']

The dimensions and the extra columns, match the description.

In [9]:
azdias.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [10]:
customers[demographic_columns].head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,3.0,5.0,3.0,2.0,6.0,9.0,7.0,3,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,6.0,3.0,0.0,9.0,NaN,3,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,4.0,10.0,13.0,11.0,6.0,9.0,2.0,3,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,6.0,4.0,2.0,NaN,9.0,7.0,1,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,3.0,5.0,4.0,2.0,9.0,3.0,1,1,3

In [11]:
customers[extra_columns].head()

       PRODUCT_GROUP CUSTOMER_GROUP  ONLINE_PURCHASE
0  COSMETIC_AND_FOOD    MULTI_BUYER                0
1               FOOD   SINGLE_BUYER                0
2  COSMETIC_AND_FOOD    MULTI_BUYER                0
3           COSMETIC    MULTI_BUYER                0
4               FOOD    MULTI_BUYER                0

#### Solving WARNINGS

We can look at the datatypes of columns 18 and 19 since we got a warning while we loaded the data.

In [12]:
warning_columns = azdias.columns[[18, 19]]
print('WARNING columns:', warning_columns)

WARNING columns: Index(['CAMEO_DEUG_2015', 'CAMEO_INTL_2015'], dtype='object')

In [13]:
azdias[warning_columns].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891221 entries, 0 to 891220
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CAMEO_DEUG_2015  792242 non-null  object
 1   CAMEO_INTL_2015  792242 non-null  object
dtypes: object(2)
memory usage: 20.4+ MB

In [14]:
azdias['CAMEO_DEUG_2015'].unique()

array([nan, 8.0, 4.0, 2.0, 6.0, 1.0, 9.0, 5.0, 7.0, 3.0, '4', '3', '7',
       '2', '8', '9', '6', '5', '1', 'X'], dtype=object)

In [15]:
azdias['CAMEO_INTL_2015'].unique()

array([nan, 51.0, 24.0, 12.0, 43.0, 54.0, 22.0, 14.0, 13.0, 15.0, 33.0,
       41.0, 34.0, 55.0, 25.0, 23.0, 31.0, 52.0, 35.0, 45.0, 44.0, 32.0,
       '22', '24', '41', '12', '54', '51', '44', '35', '23', '25', '14',
       '34', '52', '55', '31', '32', '15', '13', '43', '33', '45', 'XX'],
      dtype=object)

We have 'X' and 'XX' as values in these columns which have not been given in the description, also there are 'nan' values.

In [16]:
def clean_warning_columns(df, columns, verbose=False, debug=False):
    set_log_level(verbose, debug)
    timer.start()
    
    logger.info('Start cleaning warning columns')
    
    logger.debug('Replacing "X", "XX" and "nan" values with -1')
    replacements = {"X": np.nan, "XX": np.nan}
    df[columns] = df[columns].replace(replacements)
    logger.debug('Replaced columns: {0} in {1} seconds'.format(list(columns), timer.lapse()))
    
    logger.debug('Changing data type to float')
    df[columns] = df[columns].astype(float)
    logger.debug('Changed data type to float in {} seconds'.format(timer.lapse()))
    
    logger.info('End cleaning warning columns in {} seconds'.format(timer.total()))
    return df

In [17]:
azdias = clean_warning_columns(azdias, warning_columns, verbose=True, debug=True)

UDACITY ARVATO PROJECT: 06/05/2021 08:20:39 - INFO: Start cleaning warning columns
UDACITY ARVATO PROJECT: 06/05/2021 08:20:39 - DEBUG: Replacing "X", "XX" and "nan" values with -1
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - DEBUG: Replaced columns: ['CAMEO_DEUG_2015', 'CAMEO_INTL_2015'] in 0.65941 seconds
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - DEBUG: Changing data type to float
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - DEBUG: Changed data type to float in 0.30519 seconds
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - INFO: End cleaning warning columns in 0.97454 seconds

In [18]:
customers = clean_warning_columns(customers, warning_columns, verbose=True, debug=True)

UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - INFO: Start cleaning warning columns
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - DEBUG: Replacing "X", "XX" and "nan" values with -1
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - DEBUG: Replaced columns: ['CAMEO_DEUG_2015', 'CAMEO_INTL_2015'] in 0.11463 seconds
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - DEBUG: Changing data type to float
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - DEBUG: Changed data type to float in 0.05907 seconds
UDACITY ARVATO PROJECT: 06/05/2021 08:20:40 - INFO: End cleaning warning columns in 0.17451 seconds

Check whether the replacement has been carried out properly.

In [19]:
azdias['CAMEO_DEUG_2015'].unique()

array([nan,  8.,  4.,  2.,  6.,  1.,  9.,  5.,  7.,  3.])

In [20]:
azdias['CAMEO_INTL_2015'].unique()

array([nan, 51., 24., 12., 43., 54., 22., 14., 13., 15., 33., 41., 34.,
       55., 25., 23., 31., 52., 35., 45., 44., 32.])

### 0.2. Explore metadata datasets

Additionally we have been given two excel books.

- DIAS Attributes - Values 2017.xlsx - Has a description of demographic columns, information about range of values each column can take and their respective meanings.Loaded in metadata_values.
- DIAS Information Levels - Attributes 2017.xlsx - Has detailed information about each column with additional notes wherever required. Loaded in metadata_info_levels.

We can use these two dataframes to understand the data.

In [21]:
metadata_values = pd.read_csv(r'./datasets/metadata/metadata_values.txt', sep='\t', encoding='UTF-16')
metadata_info_levels = pd.read_csv(r'./datasets/metadata/metadata_info_levels.txt', sep='\t', encoding='UTF-16')

In [22]:
metadata_values.head(10)

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,NaN,NaN,0,no classification possible
2,NaN,NaN,1,passive elderly
3,NaN,NaN,2,cultural elderly
4,NaN,NaN,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,NaN,NaN,1,< 30 years
7,NaN,NaN,2,30 - 45 years
8,NaN,NaN,3,46 - 60 years
9,NaN,NaN,4,> 60 years

In [23]:
metadata_info_levels.head(10)

,Information level,Attribute,Description,Additional notes
0,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
1,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
2,NaN,ANREDE_KZ,gender,NaN
3,NaN,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
4,NaN,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...
5,NaN,FINANZ_SPARER,financial typology: money saver,NaN
6,NaN,FINANZ_VORSORGER,financial typology: be prepared,NaN
7,NaN,FINANZ_ANLEGER,financial typology: investor,NaN
8,NaN,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable,NaN
9,NaN,FINANZ_HAUSBAUER,financial typology: main focus is the own house,NaN

##### Metadata datasets preprocessing

We can use the ffill() method of pandas, to replace the NaN values of the dataset by the value of the previous row.

In [24]:
metadata_values[['Attribute', 'Description']] = metadata_values[['Attribute', 'Description']].ffill()

In [25]:
metadata_values.head(10)

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,AGER_TYP,best-ager typology,0,no classification possible
2,AGER_TYP,best-ager typology,1,passive elderly
3,AGER_TYP,best-ager typology,2,cultural elderly
4,AGER_TYP,best-ager typology,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,ALTERSKATEGORIE_GROB,age classification through prename analysis,1,< 30 years
7,ALTERSKATEGORIE_GROB,age classification through prename analysis,2,30 - 45 years
8,ALTERSKATEGORIE_GROB,age classification through prename analysis,3,46 - 60 years
9,ALTERSKATEGORIE_GROB,age classification through prename analysis,4,> 60 years

##### Described features

We must check how many features are described in the metadata datasets.

In [26]:
metadata_info_levels.drop_duplicates(subset=['Attribute'])

,Information level,Attribute,Description,Additional notes
0,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
1,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
2,NaN,ANREDE_KZ,gender,NaN
3,NaN,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
4,NaN,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...
...,...,...,...,...
308,Community,ARBEIT,share of unemployed person in the community,NaN
309,NaN,EINWOHNER,inhabitants,NaN
310,NaN,GKZ,standardized community-code,NaN
311,NaN,ORTSGR_KLS9,classified number of inhabitants,NaN
312,NaN,RELAT_AB,share of unemployed in relation to the county ...,NaN

In [27]:
metadata_values.drop_duplicates(subset=['Attribute'])

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
11,ALTER_HH,main age within the household,0,unknown / no main age detectable
33,ANREDE_KZ,gender,"-1, 0",unknown
36,ANZ_HAUSHALTE_AKTIV,number of households in the building,…,numeric value (typically coded from 1-10)
...,...,...,...,...
2219,WOHNDAUER_2008,length of residence,"-1, 0",unknown
2229,WOHNLAGE,residential-area,-1,unknown
2238,WACHSTUMSGEBIET_NB,growing area (population growth in the last 5 ...,"-1, 0",unknown
2244,W_KEIT_KIND_HH,likelihood of a child present in this household,"-1, 0",unknown
2251,ZABEOTYP,typification of energy consumers,"-1, 9",unknown

We can see that there are only 313 (in metadata_info_levels dataset) and 314 (in metadata_values dataset) different columns described, but in the AZDIAS dataset, there are 366 demographic columns. We need to check which features have no description in metadata datasets.

In [28]:
metadata_columns = metadata_values.Attribute.unique().tolist()

described_columns = (set(metadata_columns) & set(demographic_columns))
undescribed_columns = (set(metadata_columns) - set(demographic_columns))

print("Number of described demographic columns: ", len(described_columns))
print("Number of undescribed demographic columns: ", len(undescribed_columns))

Number of described demographic columns:  272
Number of undescribed demographic columns:  42

In [29]:
print_df_full(metadata_values[['Attribute', 'Description']].drop_duplicates(subset=['Attribute']))

,Attribute,Description
0,AGER_TYP,best-ager typology
5,ALTERSKATEGORIE_GROB,age classification through prename analysis
11,ALTER_HH,main age within the household
33,ANREDE_KZ,gender
36,ANZ_HAUSHALTE_AKTIV,number of households in the building
37,ANZ_HH_TITEL,number of academic title holder in building
38,ANZ_PERSONEN,number of adult persons in the household
39,ANZ_TITEL,number of professional title holder in household
40,BALLRAUM,distance to next urban centre
48,BIP_FLAG,business-flag indicating companies in the building
51,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup
61,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification
105,CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typology
131,CJT_GESAMTTYP,customer journey typology
138,D19_BANKEN_ANZ_12,transaction activity BANKS in the last 12 months
145,D19_BANKEN_ANZ_24,transaction activity BANKS in the last 24 months
152,D19_BANKEN_DATUM,actuality of the last transaction for the segment banks TOTAL
162,D19_BANKEN_DIREKT_RZ,transactional activity based on the product group DIRECT BANKS
170,D19_BANKEN_GROSS_RZ,transactional activity based on the product group BIG BANKS
178,D19_BANKEN_LOKAL_RZ,transactional activity based on the product group LOCAL BANKS
186,D19_BANKEN_OFFLINE_DATUM,actuality of the last transaction for the segment banks OFFLINE
196,D19_BANKEN_ONLINE_DATUM,actuality of the last transaction for the segment banks ONLINE
206,D19_BANKEN_ONLINE_QUOTE_12,amount of online transactions within all transactions in the segment bank
217,D19_BANKEN_REST_RZ,transactional activity based on the product group FURTHER BANKS
225,D19_BEKLEIDUNG_GEH_RZ,transactional activity based on the product group LUXURY CLOTHING
233,D19_BEKLEIDUNG_REST_RZ,transactional activity based on the product group FURTHER CLOTHING
241,D19_BILDUNG_RZ,transactional activity based on the product group EDUCATION
249,D19_BIO_OEKO_RZ,transactional activity based on the product group ECOLOGICALS
257,D19_BUCH_RZ,transactional activity based on the product group BOOKS and CDS
265,D19_DIGIT_SERV_RZ,transactional activity based on the product group DIGITAL SERVICES
273,D19_DROGERIEARTIKEL_RZ,transactional activity based on the product group DRUGSTORES
281,D19_ENERGIE_RZ,transactional activity based on the product group ENERGY
289,D19_FREIZEIT_RZ,transactional activity based on the product group LEISURE PRODUCTS
297,D19_GARTEN_RZ,transactional activity based on the product group GARDENING PRODUCTS
305,D19_GESAMT_ANZ_12,transaction activity TOTAL POOL in the last 12 months
312,D19_GESAMT_ANZ_24,transaction activity TOTAL POOL in the last 24 months
319,D19_GESAMT_DATUM,actuality of the last transaction with the complete file TOTAL
329,D19_GESAMT_OFFLINE_DATUM,actuality of the last transaction with the complete file OFFLINE
339,D19_GESAMT_ONLINE_DATUM,actuality of the last transaction with the complete file ONLINE
349,D19_GESAMT_ONLINE_QUOTE_12,amount of online transactions within all transactions in the complete file
360,D19_HANDWERK_RZ,transactional activity based on the product group DO-IT-YOURSELF PRODUCTS
368,D19_HAUS_DEKO_RZ,transactional activity based on the product group HOUSE DECORATION
376,D19_KINDERARTIKEL_RZ,transactional activity based on the product group CHILDREN'S PRODUCTS
384,D19_KONSUMTYP,consumption type
391,D19_KK_KUNDENTYP,consumption movement in the last 12 months
398,D19_KOSMETIK_RZ,transactional activity based on the product group COSMETIC PRODUCTS
406,D19_LEBENSMITTEL_RZ,transactional activity based on the product group FOOD PRODUCTS
414,D19_LOTTO_RZ,transactional activity based on the product group LOTTO
422,D19_NAHRUNGSERGAENZUNG_RZ,transactional activity based on the product group DIETARY SUPPLEMENTS
430,D19_RATGEBER_RZ,transactional activity based on the product group GUIDEBOOKS
438,D19_REISEN_RZ,transactional activity based on the product group TRAVEL RELATED PRODUCTS
446,D19_SAMMELARTIKEL_RZ,transactional activity based on the product group COLLECTABLE ITEMS
454,D19_SCHUHE_RZ,transactional activity based on the product group SHOES
462,D19_SONSTIGE_RZ,transactional activity based on the product group ALL OTHER CATEGORIES
470,D19_TECHNIK_RZ,transactional activity based on the product group TECHNOLOGY
478,D19_TELKO_ANZ_12,transaction activity TELCO in the last 12 months
485,D19_TELKO_ANZ_24,transaction activity TELCO in the last 24 months
492,D19_TELKO_DATUM,actuality of the last transaction for the segment telecommunication TOTAL
502,D19_TELKO_MOBILE_RZ,transactional activity based on the product group MOBILE COMMUNICATION
510,D19_TELKO_OFFLINE_DATUM,actuality of the last transaction for the segment telecommunication OFFLINE
520,D19_TELKO_ONLINE_DATUM,actuality of the last transaction for the segment telecommunication ONLINE
530,D19_TELKO_REST_RZ,transactional activity based on the product group FURTHER MOBILE COMMUNICATION PRODUCTS
538,D19_TIERARTIKEL_RZ,transactional activity based on the product group ANIMAL PRODUCTS
546,D19_VERSAND_ANZ_12,transaction activity MAIL-ORDER in the last 12 months
553,D19_VERSAND_ANZ_24,transaction activity MAIL-ORDER in the last 24 months
560,D19_VERSAND_DATUM,actuality of the last transaction for the segment mail-order TOTAL
570,D19_VERSAND_OFFLINE_DATUM,actuality of the last transaction for the segment mail-order OFFLINE
580,D19_VERSAND_ONLINE_DATUM,actuality of the last transaction for the segment mail-order ONLINE
590,D19_VERSAND_ONLINE_QUOTE_12,amount of online transactions within all transactions in the segment mail-order
601,D19_VERSAND_REST_RZ,transactional activity based on the product group FURTHER MAIL-ORDER ARTICLES
609,D19_VERSICHERUNGEN_RZ,transactional activity based on the product group INSURANCES
617,D19_VERSI_ANZ_12,transaction activity INSURANCE in the last 12 months
624,D19_VERSI_ANZ_24,transaction activity INSURANCE in the last 24 months
631,D19_VOLLSORTIMENT_RZ,transactional activity based on the product group COMPLETE MAIL-ORDER OFFERS
639,D19_WEIN_FEINKOST_RZ,transactional activity based on the product group WINE AND GOURMET FOOD
647,EWDICHTE,density of inhabitants per square kilometer
654,FINANZTYP,best descirbing financial type for the person
661,FINANZ_ANLEGER,financial typology: investor
667,FINANZ_HAUSBAUER,financial typology: main focus is the own house
673,FINANZ_MINIMALIST,financial typology: low financial interest
679,FINANZ_SPARER,financial typology: money saver
685,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable
691,FINANZ_VORSORGER,financial typology: be prepared
697,GEBAEUDETYP,type of building (residential or commercial)
706,GEBAEUDETYP_RASTER,industrial areas
711,GEBURTSJAHR,year of birth
712,GFK_URLAUBERTYP,vacation habits
724,GEOSCORE_KLS7,microgeographical risk index concerning population solvency
732,GREEN_AVANTGARDE,Green avantgarde
734,HAUSHALTSSTRUKTUR,"structure of the household (single-hh, couple with different surnames, family,...)"
744,HEALTH_TYP,health typology
749,HH_EINKOMMEN_SCORE,estimated household net income
756,INNENSTADT,distance to the city centre
765,KBA05_ALTER1,share of car owners less than 31 years old
771,KBA05_ALTER2,share of car owners inbetween 31 and 45 years of age
777,KBA05_ALTER3,share of car owners inbetween 45 and 60 years of age
783,KBA05_ALTER4,share of cars owners elder than 61 years
790,KBA05_ANHANG,share of trailers in the microcell
795,KBA05_ANTG1,number of 1-2 family houses in the cell
801,KBA05_ANTG2,number of 3-5 family houses in the cell
807,KBA05_ANTG3,number of 6-10 family houses in the cell
812,KBA05_ANTG4,number of >10 family houses in the cell
816,KBA05_AUTOQUOT,share of cars per household
822,KBA05_BAUMAX,most common building-type within the cell
828,KBA05_CCM1,share of cars with less than 1399ccm
834,KBA05_CCM2,share of cars with 1400ccm to 1799 ccm
840,KBA05_CCM3,share of cars with 1800ccm to 2499 ccm
846,KBA05_CCM4,share of cars with more than 2499ccm
852,KBA05_DIESEL,share of cars with Diesel-engine in the microcell
858,KBA05_FRAU,share of female car owners
864,KBA05_GBZ,number of buildings in the microcell
870,KBA05_HERST1,"share of top German manufacturer (Mercedes, BMW)"
877,KBA05_HERST2,share of Volkswagen-Cars (including Audi)
884,KBA05_HERST3,share of Ford/Opel
891,KBA05_HERST4,"share of European manufacturer (e.g. Fiat, Peugeot, Rover,...)"
898,KBA05_HERST5,"share of asian manufacturer (e.g. Toyota, Kia,...)"
905,KBA05_HERSTTEMP,development of the most common car manufacturers in the neighbourhood
911,KBA05_KRSAQUOT,share of cars per household (reffered to county average)
917,KBA05_KRSHERST1,share of Mercedes/BMW (reffered to the county average)
923,KBA05_KRSHERST2,share of Volkswagen (reffered to the county average)
929,KBA05_KRSHERST3,share of Ford/Opel (reffered to the county average)
935,KBA05_KRSKLEIN,share of small cars (referred to the county average)
939,KBA05_KRSOBER,share of upper class cars (referred to the county average)
943,KBA05_KRSVAN,share of vans (referred to the county average)
947,KBA05_KRSZUL,share of newbuilt cars (referred to the county average)
951,KBA05_KW1,share of cars with less than 59 KW engine power
957,KBA05_KW2,share of cars with an engine power between 60 and 119 KW
963,KBA05_KW3,share of cars with an engine power of more than 119 KW
969,KBA05_MAXAH,most common age of car owners in the microcell
975,KBA05_MAXBJ,most common age of the cars in the microcell
980,KBA05_MAXHERST,most common car manufacturer in the microcell
986,KBA05_MAXSEG,most common car segment in the microcell
991,KBA05_MAXVORB,most common preowner structure in the microcell
995,KBA05_MOD1,share of upper class cars (in an AZ specific definition)
1001,KBA05_MOD2,share of middle class cars (in an AZ specific definition)
1007,KBA05_MOD3,share of Golf-class cars (in an AZ specific definition)
1013,KBA05_MOD4,share of small cars (in an AZ specific definition)
1020,KBA05_MOD8,share of vans (in an AZ specific definition)
1025,KBA05_MODTEMP,development of the most common car segment in the neighbourhood
1031,KBA05_MOTOR,most common engine size in the microcell
1036,KBA05_MOTRAD,share of motorcycles per household
1041,KBA05_SEG1,share of very small cars (Ford Ka etc.) in the microcell
1046,KBA05_SEG10,"share of more specific cars (Vans, convertables, all-terrains, MUVs etc.)"
1052,KBA05_SEG2,"share of small and very small cars (Ford Fiesta, Ford Ka etc.) in the microcell"
1058,KBA05_SEG3,share of lowe midclass cars (Ford Focus etc.) in the microcell
1064,KBA05_SEG4,share of middle class cars (Ford Mondeo etc.) in the microcell
1070,KBA05_SEG5,"share of upper middle class cars and upper class cars (BMW5er, BMW7er etc.)"
1076,KBA05_SEG6,share of upper class cars (BMW 7er etc.) in the microcell
1079,KBA05_SEG7,share of all-terrain vehicles and MUVs in the microcell
1084,KBA05_SEG8,share of roadster and convertables in the microcell
1089,KBA05_SEG9,share of vans in the microcell
1094,KBA05_VORB0,share of cars with no preowner
1100,KBA05_VORB1,share of cars with one or two preowner
1106,KBA05_VORB2,share of cars with more than two preowner
1113,KBA05_ZUL1,share of cars built before 1994
1119,KBA05_ZUL2,share of cars built between 1994 and 2000
1125,KBA05_ZUL3,share of cars built between 2001 and 2002
1132,KBA05_ZUL4,share of cars built from 2003 on
1139,KBA13_ALTERHALTER_30,share of car owners below 31 within the PLZ8
1146,KBA13_ALTERHALTER_45,share of car owners between 31 and 45 within the PLZ8
1153,KBA13_ALTERHALTER_60,share of car owners between 46 and 60 within the PLZ8
1160,KBA13_ALTERHALTER_61,share of car owners elder than 61 within the PLZ8
1167,KBA13_ANZAHL_PKW,number of cars in the PLZ8
1168,KBA13_AUDI,share of AUDI within the PLZ8
1175,KBA13_AUTOQUOTE,share of cars per household within the PLZ8
1182,KBA13_BJ_1999,share of cars built between 1995 and 1999 within the PLZ8
1189,KBA13_BJ_2000,share of cars built between 2000 and 2003 within the PLZ8
1196,KBA13_BJ_2004,share of cars built before 2004 within the PLZ8
1203,KBA13_BJ_2006,share of cars built between 2005 and 2006 within the PLZ8
1210,KBA13_BJ_2008,share of cars built in 2008 within the PLZ8
1217,KBA13_BJ_2009,share of cars built in 2009 within the PLZ8
1224,KBA13_BMW,share of BMW within the PLZ8
1231,KBA13_CCM_1000,share of cars with less than 1000ccm within the PLZ8
1238,KBA13_CCM_1200,share of cars with 1000ccm to 1199ccm within the PLZ8
1245,KBA13_CCM_1400,share of cars with 1200ccm to 1399ccm within the PLZ8
1252,KBA13_CCM_0_1400,share of cars with less than 1400ccm within the PLZ8
1259,KBA13_CCM_1500,share of cars with 1400ccm to 1499ccm within the PLZ8
1266,KBA13_CCM_1400_2500,share of cars with 1400ccm to 2499ccm within the PLZ8
1273,KBA13_CCM_1600,share of cars with 1500ccm to 1599ccm within the PLZ8
1280,KBA13_CCM_1800,share of cars with 1600ccm to 1799ccm within the PLZ8
1287,KBA13_CCM_2000,share of cars with 1800ccm to 1999ccm within the PLZ8
1294,KBA13_CCM_2500,share of cars with 2000ccm to 2499ccm within the PLZ8
1301,KBA13_CCM_2501,share of cars with more than 2500ccm within the PLZ8
1308,KBA13_CCM_3000,share of cars with 2500ccm to 2999ccm within the PLZ8
1315,KBA13_CCM_3001,share of cars with more than 3000ccm within the PLZ8
1322,KBA13_FAB_ASIEN,share of other Asian Manufacturers within the PLZ8
1329,KBA13_FAB_SONSTIGE,share of other Manufacturers within the PLZ8
1336,KBA13_FIAT,share of FIAT within the PLZ8
1343,KBA13_FORD,share of FORD within the PLZ8
1350,KBA13_HALTER_20,share of car owners below 21 within the PLZ8
1357,KBA13_HALTER_25,share of car owners between 21 and 25 within the PLZ8
1364,KBA13_HALTER_30,share of car owners between 26 and 30 within the PLZ8
1371,KBA13_HALTER_35,share of car owners between 31 and 35 within the PLZ8
1378,KBA13_HALTER_40,share of car owners between 36 and 40 within the PLZ8
1385,KBA13_HALTER_45,share of car owners between 41 and 45 within the PLZ8
1392,KBA13_HALTER_50,share of car owners between 46 and 50 within the PLZ8
1399,KBA13_HALTER_55,share of car owners between 51 and 55 within the PLZ8
1406,KBA13_HALTER_60,share of car owners between 56 and 60 within the PLZ8
1413,KBA13_HALTER_65,share of car owners between 61 and 65 within the PLZ8
1420,KBA13_HALTER_66,share of car owners over 66 within the PLZ8
1427,KBA13_HERST_ASIEN,share of Asian Manufacturers within the PLZ8
1434,KBA13_HERST_AUDI_VW,share of Volkswagen & Audi within the PLZ8
1441,KBA13_HERST_BMW_BENZ,share of BMW & Mercedes Benz within the PLZ8
1448,KBA13_HERST_EUROPA,share of European cars within the PLZ8
1455,KBA13_HERST_FORD_OPEL,share of Ford & Opel/Vauxhall within the PLZ8
1462,KBA13_HERST_SONST,share of other cars within the PLZ8
1469,KBA13_KMH_110,share of cars with max speed 110 km/h within the PLZ8
1476,KBA13_KMH_140,share of cars with max speed between 110 km/h and 140km/h within the PLZ8
1483,KBA13_KMH_180,share of cars with max speed between 110 km/h and 180km/h within the PLZ8
1490,KBA13_KMH_0_140,share of cars with max speed 140 km/h within the PLZ8
1497,KBA13_KMH_140_210,share of cars with max speed between 140 and 210 km/h within the PLZ8
1504,KBA13_KMH_211,share of cars with a greater max speed than 210 km/h within the PLZ8
1511,KBA13_KMH_250,share of cars with max speed between 210 and 250 km/h within the PLZ8
1518,KBA13_KMH_251,share of cars with a greater max speed than 250 km/h within the PLZ8
1525,KBA13_KRSAQUOT,share of cars per household (referred to the county average) - PLZ8
1532,KBA13_KRSHERST_AUDI_VW,share of Volkswagen (referred to the county average) - PLZ8
1539,KBA13_KRSHERST_BMW_BENZ,share of BMW/Mercedes Benz (referred to the county average) - PLZ8
1546,KBA13_KRSHERST_FORD_OPEL,share of FORD/Opel (referred to the county average) - PLZ8
1553,KBA13_KRSSEG_KLEIN,share of small cars (referred to the county average) - PLZ8
1558,KBA13_KRSSEG_OBER,share of upper class cars (referred to the county average) - PLZ8
1563,KBA13_KRSSEG_VAN,share of vans (referred to the county average) - PLZ8
1568,KBA13_KRSZUL_NEU,share of newbuilt cars (referred to the county average) - PLZ8
1573,KBA13_KW_30,share of cars up to 30 KW engine power - PLZ8
1580,KBA13_KW_40,share of cars with an engine power between 31 and 40 KW - PLZ8
1587,KBA13_KW_50,share of cars with an engine power between 41 and 50 KW - PLZ8
1594,KBA13_KW_60,share of cars with an engine power between 51 and 60 KW - PLZ8
1601,KBA13_KW_0_60,share of cars up to 60 KW engine power - PLZ8
1608,KBA13_KW_70,share of cars with an engine power between 61 and 70 KW - PLZ8
1615,KBA13_KW_61_120,share of cars with an engine power between 61 and 120 KW - PLZ8
1622,KBA13_KW_80,share of cars with an engine power between 71 and 80 KW - PLZ8
1629,KBA13_KW_90,share of cars with an engine power between 81 and 90 KW - PLZ8
1636,KBA13_KW_110,share of cars with an engine power between 91 and 110 KW - PLZ8
1643,KBA13_KW_120,share of cars with an engine power between 111 and 120 KW - PLZ8
1650,KBA13_KW_121,share of cars with an engine power more than 120 KW - PLZ8
1657,KBA13_MAZDA,share of MAZDA within the PLZ8
1664,KBA13_MERCEDES,share of MERCEDES within the PLZ8
1671,KBA13_MOTOR,most common motor size within the PLZ8
1677,KBA13_NISSAN,share of NISSAN within the PLZ8
1684,KBA13_OPEL,share of OPEL within the PLZ8
1691,KBA13_PEUGEOT,share of PEUGEOT within the PLZ8
1698,KBA13_RENAULT,share of RENAULT within the PLZ8
1705,KBA13_SEG_GELAENDEWAGEN,share of allterrain within the PLZ8
1712,KBA13_SEG_GROSSRAUMVANS,share of big sized vans within the PLZ8
1719,KBA13_SEG_KLEINST,share of very small cars (Ford Ka etc.) in the PLZ8
1726,KBA13_SEG_KLEINWAGEN,"share of small and very small cars (Ford Fiesta, Ford Ka etc.) in the PLZ8"
1733,KBA13_SEG_KOMPAKTKLASSE,share of lowe midclass cars (Ford Focus etc.) in the PLZ8
1740,KBA13_SEG_MINIVANS,share of minivans within the PLZ8
1747,KBA13_SEG_MINIWAGEN,share of minicars within the PLZ8
1754,KBA13_SEG_MITTELKLASSE,share of middle class cars (Ford Mondeo etc.) in the PLZ8
1761,KBA13_SEG_OBEREMITTELKLASSE,"share of upper middle class cars and upper class cars (BMW5er, BMW7er etc.)"
1768,KBA13_SEG_OBERKLASSE,share of upper class cars (BMW 7er etc.) in the PLZ8
1775,KBA13_SEG_SONSTIGE,share of other cars within the PLZ8
1782,KBA13_SEG_SPORTWAGEN,share of sportscars within the PLZ8
1789,KBA13_SEG_UTILITIES,share of MUVs/SUVs within the PLZ8
1796,KBA13_SEG_VAN,share of vans within the PLZ8
1803,KBA13_SEG_WOHNMOBILE,share of roadmobiles within the PLZ8
1810,KBA13_SITZE_4,number of cars with less than 5 seats in the PLZ8
1817,KBA13_SITZE_5,number of cars with 5 seats in the PLZ8
1824,KBA13_SITZE_6,number of cars with more than 5 seats in the PLZ8
1831,KBA13_TOYOTA,share of TOYOTA within the PLZ8
1838,KBA13_VORB_0,share of cars with no preowner - PLZ8
1845,KBA13_VORB_1,share of cars with 1 preowner - PLZ8
1852,KBA13_VORB_1_2,share of cars with 1 or 2 preowner - PLZ8
1859,KBA13_VORB_2,share of cars with 2 preowner - PLZ8
1866,KBA13_VORB_3,share of cars with 3 or more preowner - PLZ8
1873,KBA13_VW,share of VOLKSWAGEN within the PLZ8
1880,KKK,purchasing power
1885,KONSUMNAEHE,distance from a building to PoS (Point of Sale)
1892,LP_FAMILIE_FEIN,familytyp fine
1903,LP_FAMILIE_GROB,familytyp rough
1914,LP_LEBENSPHASE_FEIN,lifestage fine
1954,LP_LEBENSPHASE_GROB,lifestage rough
1966,LP_STATUS_FEIN,social status fine
1976,LP_STATUS_GROB,social status rough
1986,MIN_GEBAEUDEJAHR,year the building was first mentioned in our database
1987,MOBI_REGIO,moving patterns
1993,NATIONALITAET_KZ,nationaltity (scored by prename analysis)
1997,ONLINE_AFFINITAET,online affinity
2003,ORTSGR_KLS9,size of the community
2013,OST_WEST_KZ,flag indicating the former GDR/FRG
2016,PLZ8_ANTG1,number of 1-2 family houses in the PLZ8
2022,PLZ8_ANTG2,number of 3-5 family houses in the PLZ8
2028,PLZ8_ANTG3,number of 6-10 family houses in the PLZ8
2033,PLZ8_ANTG4,number of >10 family houses in the PLZ8
2037,PLZ8_BAUMAX,most common building-type within the PLZ8
2042,PLZ8_GBZ,number of buildings within the PLZ8
2048,PLZ8_HHZ,number of households within the PLZ8

### 0.3. Data Preprocessing

##### Nulls normalization

### 0.4. Data Univariate Analysis

#### Remove columns with a high percentage of Null values

#### Remove rows with a high percentage of Null values

#### Classify columns into Numerical or Categorical

#### Transforming Categorical columns into Numerical columns

#### Check ID columns

#### Imputing missing values

### 0.5. Feature Scaling

### 0.6. Build a Function

Build a function that encompasses the stages of **Preprocessing**, **Univariate Analysis** and **Feature Scaling** optionally, in order to apply the same data cleaning process to all datasets used in this project.

#### Check Preprocessing and Univariate Analysis functions

#### Save datasets after Preprocessing and Univariate Analysis steps

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

#### Load clean datasets

#### Scaling data

### 1.1. Principal Component Analysis

#### 1.1.1. Interpreting PCA components

### 1.2. K-Means Clustering

After having reduced the demographic dataset to principal components, we will use a K-Means model to segment the population.

#### 1.2.1. Select optimal K value with AZDIAS_PCA data

##### Choosing Number of Clusters

#### 1.2.2. Fit K-Means object with optimal K and AZDIAS PCA data

#### 1.2.3. Get AZDIAS PCA and CUSTOMERS PCA Clusters

##### AZDIAS Clusters

##### CUSTOMERS Clusters

##### Check results

#### 1.2.4. Get ratio between customers and general population for each Cluster

#### 1.2.5. Analyze Feature Weights in Clusters with highest percentage of customers

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
# mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

#### Check if target column is in dataset

#### Check number of events / no events

### 2.1. Selecting the evaluation metric

### 2.2. Apply Preprocessing and Univariate Analysis steps

#### 2.2.1. Split data for validation and train

### 2.3. Set a benchmark

### 2.4. Evaluate different binary classification estimators

### 2.5. Select the best binary classification estimator

#### 2.5.1. Give the best results after hyperparameter tunning

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter.

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
# mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')
# mailout_test = pd.read_csv(r'./datasets/mailout_test.csv', index_col='Unnamed: 0')